.logobox {
  /* padding: 1rem 2rem;
  background: #fff;
  width: 450px;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px; */


  border:2px solid #000;
    padding:1rem 2rem;
    width: 450px;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
}

.logo {
  width: 30px;
  font-size: 1rem;
}

.logoT {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #359cf0;
}

.logobox h2 {
  margin-bottom: 20px;
}

.logo form {
  display: flex;
  flex-direction: column;
}
.userfield {
  margin: 0.7rem 0;
}

.textField{
    width:100%;
}

.logobox button {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  border-radius: 30px;
  background: transparent;
  border: 1px solid #999;
  font-weight: 500;
  cursor: pointer;
}

.logobox hr {
  border: 0;
  height: 1px;
  background: #c2c2c2;
  margin: 5px;
}

.logobox span {
  display: block;
  width: 40px;
  margin: auto;
  background: #fff;
  font-size: 14px;
  margin-top: -16px;
}

.logobox form button {
  background: #000;
  color: #fff;
  border: 0;
  margin-bottom: 15px;
}

.logobox p {
  /* text-align: left; */
  font-size: 14px;
  color: #555;
  margin: 40px 0 50px;
}

.loginbox p a {
  text-decoration: none;
  color: #359cf0;
  margin-left: 100px;
}
