* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sidebar {
  width: 22%;
  position: fixed;
  top: 0;
  left: 2rem;
  height: 100%;
  border-right: 1px solid rgb(157, 157, 158);
  display: flex;
  flex-direction: column;
  align-items: start;
}
a {
  text-decoration: none;
  color: #000;
}
.list {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.8rem 1.2rem;
}
.icons {
  margin-right: 1rem;
  font-size: 1.4rem;
}
.logo {
  color: rgb(26, 133, 220);
  font-size: 1.6rem;
}

.sidebar button {
  background-color: rgb(26, 133, 220);
  color: #fff;
  padding: 1rem 4rem;
  border: none;
  border-radius: 1.3rem;
  font-size: 1.2rem;
}
.tweetBtn {
  margin: 1rem 0;
}

.list:hover {
  background-color: #dfe1e3;
  border-radius: 2rem;
}
