.container {
  border: 2px solid #000;
  padding: 1rem 2rem;
  width: 450px;
  min-height: 450px;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0px 5px 7px 2px rgba(0, 0, 0, 0.4),
    0px 3px 13px -1px rgba(0, 0, 0, 0.29),
    0px -4px 1px 0px rgba(0, 0, 0, 0.22) inset,
    0px 2px 10px 2px rgba(0, 0, 0, 0.28);
  border: 1px solid rgba(0, 0, 0, 0.01);
}

.first_field button {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  border-radius: 30px;
  background: transparent;
  border: 1px solid #999;
  font-weight: 500;
  cursor: pointer;
}

.first_field hr {
  border: 0;
  height: 1px;
  background: #c2c2c2;
  margin: 5px;
}

.first_field span {
  display: block;
  width: 40px;
  height: 2vh;
  margin: -20px auto 0;
  background: #fff;
}

.logobox form button {
  background: #000;
  color: #fff;
  border: 0;
  margin-bottom: 15px;
}

.first_field p {
  font-size: 14px;
  color: #555;
  margin: 40px 0 50px;
}

.first_field p a {
  text-decoration: none;
  color: #359cf0;
}
.first_field p a:hover {
  text-decoration: underline;
}

.second_field h1 {
  margin: 1rem 0;
}

.second_field span {
  color: #ed1d1d;
  font-size: 14px;
  float: left;
  margin: 10px;
}

.close_btn {
  position: absolute;
  top: 0;
  left: 2px;
  border-left: 0;
  margin: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #eee;
  padding: 0.3rem 0.7rem;
  border-radius: 50%;
}
.close_btn:hover {
  background-color: #0a0a0a;
  color: #fff;
}
.create_btn {
  background-color: #000 !important;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1rem;
}

@media screen and (max-width: 550px) {
  .container {
    border: none;
    padding: 3rem;
    width: 300px;
    box-shadow: none;
  }
  .input_field {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .container {
    border: none;
    padding: 3rem;
    margin: 1rem;
    width: 250px;
    box-shadow: none;
  }
  .input_field {
    width: 100%;
  }
}
