.postss {
    padding: 20px;
    border-bottom: 1px solid #e6ecf0;
  }
  .postss__first {
    display: flex;
    align-items: center;
  }
  .posts__first__img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
  }
  .posts__first__img img {
    width: 100%;
    height: 100%;
  }
  .posts__first__name {
    margin-left: 6px;
  }
  .posts__first__username {
    margin-left: 6px;
    color: silver;
    font-weight: 300;
  }
  .posts__first__username span {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
  }
  .verify {
    margin-left: 3px;
    color: #1da1f2;
  }
  .postss__details {
    margin: 8px 30px;
    overflow: hidden;
  }
  .postss__details__img {
    width: 100%;
    margin-top: 6px;
  }
  .postss__details__img img {
    width: 100%;
    border-radius: 1rem;
  }

  .reactions{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  