* {
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  width: 22%;
  position: fixed;
  top: 0;
  left: 2rem;
  height: 100%;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
}
a {
  text-decoration: none;
  color: #000;
}
.list {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  list-style: none;
}
.icons {
  margin-right: 1rem;
  font-size: 1.6rem;
}
.logo {
  font-size: 1.6rem;
  padding: 0.5rem;
  list-style: none;
  color: rgb(26, 133, 220);
}
.logo:hover {
  background-color: #dfe1e3;
  border-radius: 50%;
}

.sidebar button {
  background-color: rgb(26, 133, 220);
  color: #fff;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 12vw;
  border: none;
  cursor: pointer;
}

.list:hover {
  background-color: #dfe1e3;
  border-radius: 15rem;
  cursor: pointer;
}
.userData {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  width: 15vw;
  margin-top: 3rem;
}

.username {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
}
.name {
  font-weight: 700;
  font-size: medium;
  font-family: inherit;
}
.email {
  font-weight: 400;
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
}
.userData:hover {
  background-color: #dfe1e3;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list span {
    display: none;
  }
  .icons {
    text-align: center;
    width: 100%;
  }
  icons:hover {
    background-color: #dfe1e3;
    border-radius: 50%;
  }
  .sidebar button {
    border-radius: 50%;
    width: 4rem;
    padding: 1.2rem;
    margin-top: 1rem;
  }
}
