.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  width: 400px;
  border: 1px solid lightgray;
}

.box {
  text-align: center;
}

.logo {
  font-size: 60px;
  margin-bottom: 20px;
}

.heading {
  /* font-size: 28px; */
  margin-top: 0;
  margin-bottom: 20px;
}

.input {
  margin-top: 10px;
  margin-bottom: 10px;
}

#filled-basic,
input[type="password"] {
  width: 100%;
  /* background-color: #f5f8fa; */

  background-color: #1da1f2;
  border-radius: 100px;
  padding: 10px;
  border: none;
  font-size: 16px;
  outline: none;
}

#filled-basic::placeholder,
input[type="password"]::placeholder {
  color: #aab8c2;
  /* background-color: white; */
}

#filled-basic:focus,
input[type="password"]:focus {
  background-color: #fff;
  box-shadow: 0px 0px 4px #1da1f2;
}

.button {
  width: 100%;
  border-radius: 9999px;
  padding: 10px;
  border: none;
  font-size: 16px;
  outline: none;
}

.button:focus {
  box-shadow: 0px 0px 4px rgba(29, 161, 242, 0.4);
}
.username {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.password {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.box {
  background-color: #1da1f2;
  padding: 20px;
  border-radius: 15px;
}
