.card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  .main{
    display: flex;
  }
  hr {
    display: inline-block;
  }
  /* Button{
    border-radius:100px;
    background-Color:white;
    color:black; */
  /* } */
  img{
    height: 15px;
    padding-right: 10px;
     width: 15px;
  }

  