.container {
  border-width: 0.5px;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 290px;
  margin-top: 0px;
  position: fixed;
  bottom: 300px;
  right: 105px;
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  background-color: lightgray;
}

.whats-happening-page {
  flex-direction: column;

  font-size: initial;

  border-radius: 1px solid black;
}

.tweet-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.tweet {
  margin-bottom: 10px;

  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

.tweet-content {
  font-size: 20px;
}

.tweet-info {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
}
