*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(39, 141, 205);
    position: fixed;
    bottom:0;
    width: 100vw;
    padding:0.7rem;
}

.title{
    font-size: 1rem;
    color: #fff;
    margin: 0 2rem;
}

.userfield{
    font-size: 14px;
    font-weight: 600;

}

.login{
    text-decoration: none;
    border: 1px solid white;
    padding:0.5rem 1rem;
    border-radius: 1rem;
    color:white;
}

.register{
    text-decoration: none;
    border: 1px solid white;
    padding:0.5rem 1rem;
    border-radius: 1rem;
    color:black;
    background-color:white;
    margin: 0 1rem;
}